<html>
    <body onload= plot_chart();>
        <div class="demo-container">
            <div id="placeholder-forecast" class="demo-placeholder">
            </div>
        </div>
        <div>
            Enter day of the year:<input type='text' class='text_box_input' id='predict-day' value='80' /><input type='button' id='submit_day' value='Predict' />
        </div>
		 <div class="demo-container">
            <div id="placeholder-matlab" class="demo-placeholder">
            </div>
        </div>
		
		<div>R.M.S.E. = <span id="rmse_value"></span></div>
       
        <div class="demo-container">
            <div id="placeholder-error" class="demo-placeholder">
            </div>
        </div>
    </body>
</html>
